

<div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
               <% @articles.each do |article| %>
              <div class="post col-xl-6 ">
                <div class="post-thumbnail"><%= link_to article do %>
                <%= image_tag(article.image, class: "img-fluid post-thumbnail rounded-top" ) if article.image.attached? %>
                <% end %> </div>
                <div class="post-details border p-2 rounded-bottom">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last"> <%= article.created_at.strftime("%d %b, | %Y") %></div>
                    <div class="category"><a href="#"><%= article.category.name if article.category.name.present? %></a></div>
                  </div><%= link_to article do %>
                    <h3 class="h4"><%=  article.title %></h3><% end %>
                  <p class="text-muted"><%= article.content.to_plain_text.truncate(100) %></p>
                  <footer class="post-footer d-flex align-items-center"><div class="author d-flex align-items-center flex-wrap">
                     <%= link_to article.user do %> <%= image_tag(article.user.avatar, class: "avatar img-fluid") %><% end %>
                    <%= link_to article.user do %>  <div class="title"><span><%= article.user.first_name + " " + article.user.last_name %></span></div> <% end %>
                    <div class="date"><i class="bi bi-clock"></i> <%= article.created_at.strftime("%d %b, %Y") %></div>
                    <div class="comments meta-last"><i class="bi bi-chat-left-dots"></i>12</div>
                  </footer>
                </div>
              </div>
              <% end %> 

              <!-- post-end -->
              
            </div>
            <!-- Pagination -->
            <nav aria-label="  Page navigation example">
              <ul class=" digg_pagination pagination pagination-template d-flex justify-content-center">
                
                <%= will_paginate @article, :container => false %>
                
              </ul>
            </nav>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <%= render "shared/search" %>

          <%= render "shared/ads" %>
          <!-- Widget [Latest Posts Widget]        -->
          <%= render "shared/latest" %>
          <!-- Widget [Categories Widget]-->
          <%= render "shared/ads" %>
          <!-- Widget [Categories Widget]-->
          <%= render "shared/categ" %>
          <!-- Widget [Tags Cloud Widget]-->
          <%= render "shared/ads" %>
        </aside>
      </div>
    </div>
