
     <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
            <% if @article.user == current_user %>
            <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-secondary mb-3 btn-sm" %> |
            <%= link_to 'Back', articles_path, class: "btn btn-outline-secondary mb-3 btn-sm" %>
            <% end %>
              <div class="post-thumbnail"><%= image_tag(@article.image) if @article.image.attached? %></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category"><%= link_to @article.category.name, articles_path(:cat => @article.category.id) if @article.category.name.present? %></div>
                </div>
                <h2><%= @article.title %><a href="#"><i data-placement="right" title="Bookmark this Article!" class="bi bi-bookmarks"></i></a></h2>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a class="author d-flex align-items-center flex-wrap">
                    <%= link_to @article.user do %><div class="avatar"><%= image_tag(@article.user.avatar, class: "avatar img-fluid") %></div><% end %>
                    <%= link_to @article.user do %><div class="title"><span><%= @article.user.first_name + " " + @article.user.last_name %></span></div></a><% end %>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="bi bi-clock"></i> <%= @article.created_at.strftime("%d %b, %Y  %H:%M") %></div>
                    <div class="views"><i class="bi bi-eye"></i> 500</div>
                    <div class="comments meta-last"><i class="bi bi-chat-left-dots"></i><%= @article.comments.count %></div>
                  </div>
                </div>
                <div class="post-body">
                  <p><%= @article.content %></p>
                  
                </div>
                <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
                
                 <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">(<%= @article.comments.count %>)</span></h3>
                  </header>
                     <%= render @article.comments.where(parent_id: nil ).includes(:user).order(id: :desc) %>
                  </div>
                
                <div class="add-comment">
                    <header>
                    <h3 class="h6">Leave a reply</h3>
                    </header>
                <%= render "comments/form", locals: {article: @article, parent: nil } %>
                </div>
              </div>
            </div>
          </div>
        </main>


        
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <%= render "shared/search" %>

          <%= render "shared/ads" %>

          <!-- Widget [Latest Posts Widget]        -->
          <%= render "shared/latest" %>

          <%= render "shared/ads" %>

          <!-- Widget [Categories Widget]-->
          <%= render "shared/categ" %>
          <!-- Widget [Tags Cloud Widget]-->
          <%= render "shared/ads" %>
        </aside>
      </div>
    </div>



<script>
  document.querySelectorAll('.sub-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
      ev.preventDefault();
      el.nextElementSibling.style = 'display: block;'
    })
  })

</script>


