
<div class="container space-top-1 space-bottom-2">
    <div class="row ">
    <div class="col"></div>

      <div class="col-lg-8 w-md-75 w-lg-60 mb-2 mx-md-auto">
        <div class="border-bottom mb-5">
        <div class="media d-block d-sm-flex mb-4">
          <div class="position-relative mx-auto mb-3 mb-sm-0 mr-sm-4" style="width: 160px; height: 160px;">
          <%= image_tag(@user.avatar, width: "160", height: "160", style: "border-radius:50%;") %>
            <i style="color:blue" title="Top Writer" class="bi bi-patch-check-fill bg-light  position-absolute bottom-0 right-0 rounded-circle p-1 h3 "></i>
          </div>

          <div class="media-body">
            <div class="d-flex justify-content-between align-items-center mb-2">


              <h1 class="h3"> <span class="mr-2"><%= @user.first_name  %></span>  <span><%= @user.last_name%></span> </h1>
              <div class="d-block">
                <button type="button" class="btn btn-sm btn-outline-primary font-weight-bold text-nowrap ml-1">Follow</button>
              </div>
            </div>

            <div class="row text-body font-size-1 mb-2">
              <div class="col-auto">
                <span class="h6"><%= pluralize(@user.articles.count, "post")%></span>
                
              </div>
              <div class="col-auto">
                <span class="h6">19.5k</span>
                <span>Followers</span>
              </div>
              <div class="col-auto">
                <span class="h6">109</span>
                <span>Following</span>
              </div>
              <% if user_signed_in? && @user == current_user %>
              <div class="col-auto">
                <span class="h6">Joined</span>
                <span><%= time_ago_in_words(@user.created_at)%> Ago</span>
              </div>
              <% end %>
            </div>

            <p class="mb-0"> <%= @user.bio %></p>
          </div>
       
        </div>
      </div>
        <!-- personal post -->

        <div class="container space-bottom-3">
      <div class="w-md-75 w-lg-60 mx-md-auto">
        

        <% if user_signed_in? && @user == current_user %>
        <!-- End Blog Card -->
          <div class="float-left mb-2">
            <form class="form-inline my-2 my-md-0">
              <input class="form-control" type="search" placeholder="Search Articles" aria-label="Search">
            </form>
          </div>
          <div class="float-right mb-2">
            <%= link_to "New Article", new_article_path, class: "btn btn-outline-secondary btn-sm" %>
          </div>
          <table class="table table-sm text-center">
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Post-img</th>
                <th scope="col">Title</th>
                <th scope="col">Comments</th>
                <th scope="col">Status</th>
                <th scope="col">Time Stamp</th>
                <th scope="col" colpan="1" >Actions</th>
              </tr>
            </thead>
            <tbody>
           <% @article.each do | article | %>
           <% if article.user == current_user %>
              <tr>
                <th scope="row"><i class="bi bi-arrow-right-short"></i></th>
                <td><%= image_tag(article.image, width: "40", height: "30", style: "border-radius:5px;" ) if article.image.attached? %></td>
                <td><%= truncate(article.title, length: 10)%></td>
                <td>0 <i class="bi bi-chat"></i></td>
                <td><a  class="badge badge-secondary">Draft</a></td>
                <td><%= article.created_at.strftime("%d %b, %Y  %H:%M") %></td>
                <td >
                <%= link_to article do %><span href="#" class="badge badge-info">View</span><% end %>
                <%= link_to edit_article_path(article) do %><span href="#" class="badge badge-primary">Edit</span><% end %>
               <%= link_to article, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }  do %> <span href="#" class="badge badge-danger">Delete</span></td><% end %>
              </tr>
              <% end %>

              <% end %>
            </tbody>
          </table>
        <!-- End Blog Card -->
        <% else %>
        <!-- End Blog Card -->
         <% @article.order("created_at Desc").each do | article | %>
         <% if article.user == @user %>
        <article class="card mb-3 mb-sm-5 ">
          <%= image_tag(article.image, class: "card-img-top") %>

          <div class="card-body">
            <div class="category"> <a class="d-block small font-weight-bold text-cap mb-2" href="#">Community</a></div>

           <%= link_to article do %> <h3 class="text-inherit post-thumbnail"><%= article.title%></h3><% end %>

            <p><%= article.content.to_plain_text.truncate(95) %></p>

            <div class="media align-items-center pt-5">
              <div class="avatar-group">
                <div class="avatar avatar-xs avatar-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hanna Wolfe ">
                <%= image_tag(article.user.avatar, class: "avatar-img", width: "25", height: "25", style: "border-radius:50%;", title: article.user.first_name + ' ' + article.user.last_name  ) %>
                </div>
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                <%= article.created_at.strftime("%b, %Y") %>
              </div>
            </div>
          </div>
        </article>
          <% end %>
        <% end %>
        <!-- End Blog Card -->
        <% end %>

        <div class="space-bottom-2"></div>

         <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                <li class="page-item"><a href="#" class="page-link"> <i class="bi bi-arrow-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"> <i class="bi bi-arrow-right"></i></a></li>
              </ul>
            </nav>

        <!-- End Pagination -->
      </div>
    </div>
   
        </div>


        <div class="col"></div>
    </div>
</div>





