<div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts">
        <% Article.all.order("created_at Desc").limit(5).each do |article| %>
        <div class="item d-flex align-items-center">

    <%= link_to article do %><div class="image"><%= image_tag(article.image, width: "60", height: "55", style: "border-radius:5px;" ) if article.image.attached? %></div><% end %>
     <%= link_to article do %><div class="title"><strong><%= article.title %> </strong> <% end %>
            <div class="d-flex align-items-center">
                <div class="views"><i class="bi bi-eye"></i> 500</div>
                <div class="comments"><i class="bi bi-chat-left-dots"></i><%= article.comments.count %></div>
            </div>
            </div>
        </div>
        <% end %>
    </div>
</div>